body {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: black;
  font-variation-settings:
    "wdth" 100;
  margin: 0;
}

.banner {
  color: white;
  display: flex;
  height: 2000px;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  background-image: url('./assets/images/main_banner.png');
}


.banner-welcome {
  align-self: center;
}
    .banner .banner-title {
      font-size: 100px;
      margin-bottom: -20px;
    }
    .banner .banner-welcome span {
      margin-left: 15px;
      font-size: 18px;
    }
