@keyframes appear {
  from {opacity: 0;}
  to {opacity:1;}
}

body {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  background: black;
}

.banner {
  color: white;
  margin: 30px;
  margin-top: 0;
  border-radius: 20px;
  display: flex;
  height: 620px;
  justify-content: center;
  background: linear-gradient(45deg, rgba(0, 0, 0, 1) 30%, rgb(16 16 16) 100%);
  animation-name: appear;
  animation-duration: 4s;
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
      "wdth" 100;
}
  .banner img {
    height: 300px;
    align-self: center;
    rotate: -60deg;
    margin-bottom: 40px;
  }

.banner-welcome {
  align-self: center;
  animation-name: appear;
  animation-duration: 4s;
  margin: 20px;
}
    .banner .banner-title {
      font-size: 100px;
      margin-top: 0;
      margin-bottom: -20px;
    }
    .banner .banner-welcome span {
      margin-left: 15px;
      font-size: 18px;
    }

.home-nav {
  display: flex;
  opacity: 1;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: space-between;
  animation-name: appear;
  animation-duration: 4s;
  z-index: 5;
}
  .home-nav .web_logo {
    align-self: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    position: absolute;
    background: black;
    height: 120px;
    width: 120px;
    top: 0%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .home-nav .navbar {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
  }
    .home-nav .navbar a {
      color: white;
      margin: 30px;
      text-decoration: none;
      font-size: 20px;
      font-weight: 500;
      position: relative;
    }
      .home-nav .navbar a:before {
        content: '';
        background-color: #ff1f1fbe;
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        height: 8px;
        z-index: -1;
        transition: all .3s ease-in-out;
      }
        .home-nav .navbar a:hover::before {
          bottom: 0;
          height: 100%;
        }