@keyframes appear {
  from {opacity: 0;}
  to {opacity:1;}
}

body {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: black;
  font-variation-settings:
    "wdth" 100;
  margin: 0;
}

.banner {
  color: white;
    display: flex;
    height: 620px;
    justify-content: center;
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 30%, rgb(16 16 16) 100%);
    animation-name: appear;
    animation-duration: 4s;
}
  .banner img {
    height: 300px;
    align-self: center;
    rotate: -60deg;
    margin-bottom: 40px;
  }

.banner-welcome {
  align-self: center;
  animation-name: appear;
  animation-duration: 4s;
  margin: 20px;
}
    .banner .banner-title {
      font-size: 100px;
      margin-top: 0;
      margin-bottom: -20px;
    }
    .banner .banner-welcome span {
      margin-left: 15px;
      font-size: 18px;
    }

.home-nav {
  display: flex;
  animation-name: appear;
  animation-duration: 4s;
  opacity: 1;
}
  .home-nav .navbar {
    display: flex;
    list-style-type: none;
  }
    .home-nav .navbar a {
      color: white;
      margin: 30px;
      text-decoration: none;
      font-size: 20px;
    }